/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  height: 100vh;
}

.flex {
  flex: 1;

  &-container {
    display: flex;

    &.vertical {
      height: 100%;
      flex-direction: column;
    }
  }
}
