<div class="employees">
  <div class="container-fluid employees__header">
    <div>
      <button type="button" class="btn btn-primary" (click)="addEmployee(employee_form)">Создать</button>
    </div>

    <app-search placeholder="Поиск сотрудников" (search)="query$.next($event)"></app-search>
  </div>

  <div class="employees__body">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let employee of filteredEmployees$ | async; index as i; trackBy: trackByFn"
             class="employees__card col-md-6 col-lg-4">
          <div class="card text-dark bg-light">
            <div class="card-body ">
              <h5 class="card-title limited-lines">
                {{ employee.lastName }} {{ employee.firstName }} {{ employee.middleName }}
              </h5>
              <div class="card-text limited-lines">Тестов к сдаче: {{ employee.appointments || 0 }}</div>
              <br>
              <div class="card-text">
                Почта: <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
              </div>
              <div class="card-text limited-lines">Должность: {{ employee.position.title }}</div>
              <div class="card-text limited-lines">Права администратора: {{ employee.isAdmin ? 'Да' : 'Нет' }}</div>

            </div>
            <div class="card-footer">
              <button type="button" [disabled]="load" class="btn btn-sm btn-outline-primary"
                      (click)="toAppointments(employee.id)">К тестированию</button>
              <button type="button" [disabled]="load" class="btn btn-sm btn-outline-primary"
                      (click)="editEmployee(employee.id, employee_form)">Изменить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #employee_form let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="employeeForm">
      <input type="hidden" formControlName="id">
      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Введите фамилию"/>
      </div>
      <div class="form-group">
        <label for="firstName">Имя</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="Введите имя"/>
      </div>
      <div class="form-group">
        <label for="middleName">Отчество</label>
        <input type="text" id="middleName" formControlName="middleName" class="form-control" placeholder="Введите отчество"/>
      </div>
      <div class="form-group">
        <label for="email">Почта</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Введите почту"/>
      </div>
      <div class="form-group">
        <label for="position">Должность</label>
        <ng-select [items]="positions"
                   bindValue="id"
                   bindLabel="title"
                   labelForId="position"
                   placeholder="Выберите должность"
                   clearAllText="Очистить"
                   formControlName="position">
        </ng-select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="isAdmin" formControlName="isAdmin">
        <label class="form-check-label" for="isAdmin">
          Права Администратора
        </label>
      </div>
    </form>

    <ul class="list-unstyled invalid-feedback" *ngIf="validationErrors.length">
      <li *ngFor="let error of validationErrors"> {{ error }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="load" class="btn btn-outline-primary" (click)="validateAndSave()">Сохранить</button>
  </div>
</ng-template>
