.questions {
  height: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__header {
    display: flex;

    :not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__body {
    flex: 1;
  }

  &__card {
    margin-bottom: 1.5rem;
  }
}

textarea.form-control {
  resize: none;
}

.modal {
  &-header, &-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.invalid-feedback {
  display: block;
}

.card-text {
  height: 4rem;
}

.limited-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
