<div class="questions">
  <div class="container-fluid questions__title">
    <h4>{{ quiz?.title }} ({{ quiz?.timeLimit + 'мин.'}})</h4>
  </div>
  <div class="container-fluid questions__header">
    <div>
      <button type="button" class="btn btn-primary" (click)="addQuestion(question_form)">Создать</button>
    </div>

    <app-search placeholder="Поиск вопроса" (search)="filterQuestions($event)"></app-search>
  </div>

  <div class="questions__body">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let question of filteredQuestions$ | async; index as i; trackBy: trackByFn"
             class="questions__card col-md-6 col-xl-4">
          <div class="card text-dark bg-light">
            <div class="card-body ">
              <h5 class="card-title">{{ question.type === 'SINGLE' ? 'Один верный ответ' : 'Несколько верных ответов' }}</h5>
              <div class="card-text">
                <p class="limited-lines">
                  {{ question.content }}
                </p>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" (click)="updateQuestion(question.id, question_form)" [disabled]="load"
                      class="btn btn-sm btn-outline-primary">Изменить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #question_form let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="questionForm">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="quizId">
      <div class="form-group">
        <textarea formControlName="content" class="form-control" id="content" cols="30" rows="5"></textarea>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline" *ngFor="let questionType of questionTypes">
          <input formControlName="type"
                 class="form-check-input"
                 type="radio"
                 id="{{ 'id_' + questionType.value }}"
                 [value]="questionType.value">
          <label class="form-check-label" for="{{ 'id_' + questionType.value }}">{{ questionType.title }}</label>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addVariant()">Добавить вариант ответа</button>
      </div>
      <ng-container formArrayName="variants">
        <div class="form-group" *ngFor="let variantForm of variantsForms?.controls; index as i;" formGroupName="{{i}}">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" formControlName="isTrue">
              </div>
            </div>
            <input type="text" formControlName="value" class="form-control" placeholder="Вариант ответа">
            <input type="hidden" formControlName="id">
            <div class="input-group-append">
              <button class="btn btn-outline-danger" type="button" (click)="removeVariant(i)">Удалить</button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>

    <ul class="list-unstyled invalid-feedback" *ngIf="validationErrors.length">
      <li *ngFor="let error of validationErrors"> {{ error }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="load" class="btn btn-outline-primary" (click)="validateAndSave()">Сохранить</button>
  </div>
</ng-template>
