<div class="appointments">
  <div class="container-fluid appointments__header">
    <app-search placeholder="Поиск тестирования" (search)="query$.next($event)"></app-search>

    <app-appointment-states-radio (stateSelect)="state$.next($event)"></app-appointment-states-radio>
  </div>

  <div class="appointments__body">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let appointment of filteredAppointments$ | async; index as i; trackBy: trackByFn"
             class="appointments__card col-lg-6">
          <div class="card text-dark bg-light" [ngClass]="{ 'no-actions': !hasActions(appointment) }">
            <div class="card-body ">
              <h5 class="card-title limited-lines">{{ appointment.quiz?.title }}</h5>
              <div class="card-text">
                Статус: <strong>{{ statesMap[appointment.state || ''] }}</strong>
              </div>
              <div class="card-text">
                Срок сдачи: <strong>{{ appointment.deadline | date : 'dd.MM.yyyy' }}</strong>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="isCreated(appointment)"
                      [disabled]="load" (click)="start(appointment.id)">Начать</button>
              <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="isStarted(appointment)"
                      [disabled]="load" (click)="continue(appointment.id)">Продолжить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
