.appointments {
  height: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;

    >:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__body {
    flex: 1;
  }

  &__card {
    margin-bottom: 1.5rem;
  }
}

.card {
  &.no-actions {
    padding-bottom: 3.5rem;
    .card-footer {
      display: none;
    }
  }
  &-footer {
    :not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.limited-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
