<div class="exam" *ngIf="appointment">

  <div class="h4 text-center mt-4">{{ quiz?.title }}</div>

  <ng-container *ngIf="isCreated">
    <div class="h5 text-center">Вопросов: {{ quiz?.questionsCount}}</div>

    <div class="h5 text-center">Времени для выполнения: {{ quiz?.timeLimit }} мин.</div>

    <button class="btn btn-primary mt-4" (click)="start()" [disabled]="load">Начать</button>
  </ng-container>

  <ng-container *ngIf="!isCreated && !isExpired">
    <div class="h5 text-center">Вопрос {{ question?.number || '-' }} / {{ quiz?.questionsCount}}</div>

    <div class="h5 text-center" *ngIf="isStarted">
      Времени до завершения: <app-timer [seconds]="timerSeconds" (stop)="stop()"></app-timer>
    </div>

    <div class="h5 text-center" *ngIf="isPassed">
      Тест пройден, верных ответов: {{ appointment?.trueAnswersCount }} /  {{ quiz?.questionsCount}}
    </div>

    <form *ngIf="question" [formGroup]="answerForm" class="col-md-6 col-xl-4 mt-3" >
      <div class="alert text-center" role="alert" *ngIf="answerMap[question.id]"
           [ngClass]="{ 'alert-success': answerMap[question.id]?.isTrue, 'alert-danger': !answerMap[question.id]?.isTrue}">
        Ответ {{ answerMap[question.id]?.isTrue ? 'вереный' : 'невереный'}}
      </div>
      <div class="form-group" formGroupName="question">
        <input type="hidden" formControlName="id">
        <textarea formControlName="content" class="form-control" rows="5" readonly></textarea>
      </div>
      <ng-container formArrayName="variants" *ngIf="question.type === 'SINGLE'">
        <div class="form-group" *ngFor="let vf of variantsForms?.controls; index as i;" formGroupName="{{i}}">
          <input type="hidden" formControlName="id">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="value" readonly>
            <div class="input-group-append">
              <div class="input-group-text">
                <input type="radio" name="checked" formControlName="checked" [value]="true">
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container formArrayName="variants" *ngIf="question.type === 'MULTI'">
        <div class="form-group" *ngFor="let vf of variantsForms?.controls; index as i;" formGroupName="{{i}}">
          <input type="hidden" formControlName="id">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="value" readonly>
            <div class="input-group-append">
              <div class="input-group-text">
                <input type="checkbox" formControlName="checked">
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="form-group form-footer">
        <button class="btn btn-outline-primary" [disabled]="load || question.number === 1" (click)="prev()">
          <
        </button>
        <div class="flex"></div>
        <button *ngIf="isStarted && !answerMap[question.id]"
                [disabled]="answerForm.invalid || load"
                (click)="addAnswer()"
                class="btn btn-success">
          Ответить
        </button>
        <button class="btn btn-outline-primary" [disabled]="load || question.number === quiz.questionsCount" (click)="next()">
          >
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="isExpired">
    <div class="h5 text-center">Срок сдачи теста истек, обратитесь к администратору для повторного назначения.</div>
  </ng-container>

</div>
