.exam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control[readonly] {
  background-color: #fff;
}

textarea.form-control {
  resize: none;
}

.form-footer {
  display: flex;
  justify-content: flex-end;

  :not(:last-child) {
    margin-right: 0.5rem;
  }

  :first-child {
    align-self: flex-start;
  }
}
